body {
  margin: 0;
}

// header {
//   height: 60px;
//   background-color: #000;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .header {
//     font-size: 25px;
//     text-align: center;
//     color: #eee;
//   }
// }

main {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  // background-color: #ddd;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 40px;
  margin: 10px 0 10px;

  .map-button {
    border: 0;
    margin: 0 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(102, 95, 95, 1);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);

    &.active {
      background-color: rgba(166, 166, 166, 1);
    }

    &:hover {
      background-color: rgba(166, 166, 166, 1);
    }

    &:active {
      box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
  }
}

.hunt-map {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.popup-img {
  object-fit: cover;
  width: 400px;
  cursor: zoom-in;
  border-radius: 12px;
  border: 5px solid #a9aeb0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 14px;

  &:hover {
    transform: scale(2);
  }
}

.map-filters {
  position: absolute;
  width: 200px;
  height: calc(100vh - 60px);
  z-index: 1000;
  left: 0;
  padding-top: 60px;
  background-color: rgba(221, 221, 221, .4);

  .map-filters-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 26px;
    margin: 0 20px 20px;
    padding-left: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: rgba(166, 166, 166, 1);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );

    &.active {
      border: 2px solid gold;
    }

    &:hover {
      background-color: rgba(227, 227, 227, 1);
    }

    .filter-img {
      width: 20px;
      height: 20px;
    }

    .filter-name {
      margin-left: 10px;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

.leaflet-control-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  width: 400px;
  background-color: transparent;
  box-shadow: none;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-marker-pane img {
  background-color: transparent;
  border: none;
}